# these are optional installs for additional features / alternative engines
# they might be needed to run unittests, but are optional for end user installs

# lang detection/translation module
google_trans_new
langdetect
pycld2
pycld3
fastlang

# wake word plugins
## https://github.com/HelloChatterbox/dummy_wakeword_plugin
chatterbox-wake-word-plugin-dummy
## https://github.com/JarbasLingua/jarbas-wakeword-plugin-pocketsphinx
jarbas-wake-word-plugin-pocketsphinx
## https://github.com/JarbasLingua/jarbas-wake-word-plugin-precise
jarbas-wake-word-plugin-precise

# stt plugins
## https://github.com/JarbasLingua/jarbas-stt-plugin-chromium
jarbas-stt-plugin-chromium
google-api-python-client==1.6.4

# tts plugins
boto3

# cli client
git+https://github.com/NeonJarbas/debug_cli
