# mycroft
HolmesV[all]>=2021.5.6a13
mock_msm

# neon stuff
#git+https://github.com/NeonGeckoCom/neon-skill-utils
#git+https://github.com/NeonJarbas/neon_speech

# utils
rapidfuzz
kthread
ovos_utils>=0.0.10
ovos-skills-manager>=0.0.2

# plugins
ovos-plugin-manager>=0.0.1a2
libretranslate_neon_plugin


# vision stuff
numpy
imutils
opencv-python
opencv-contrib-python

# text parser modules
RAKEkeywords>=0.2.0