adapt-parser==0.3.7
appdirs==1.4.4
attrs==21.2.0
audioread==2.1.9
beautifulsoup4==4.9.3
boto3==1.18.41
botocore==1.21.41
bs4==0.0.1
cachetools==4.2.2
casttube==0.2.1
cattrs==1.8.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
chatterbox-wake-word-plugin-dummy==0.1.1
click==8.0.1
click-default-group==1.2.2
combo-lock==0.1.2
decorator==5.1.0
deepspeech==0.9.3
docopt==0.6.2
fann2==1.0.7
fasteners==0.16.3
fastlang==0.0.4
geographiclib==1.52
geopy==2.1.0
google-api-core==1.31.2
google-api-python-client==1.6.4
google-auth==1.35.0
google-cloud-speech==2.4.1
googleapis-common-protos==1.53.0
grpcio==1.40.0
gTTS==2.2.3
HolmesV==2021.5.6a20
httplib2==0.19.1
idna==3.2
ifaddr==0.1.7
inflect==5.3.0
inflection==0.5.1
jmespath==0.10.0
joblib==1.0.1
json-database==0.5.6
kthread==0.2.2
langdetect==1.0.9
libcst==0.3.20
libretranslate-neon-plugin==0.0.1
libretranslatepy==2.1.1
librosa==0.8.1
lingua-nostra==0.4.5
llvmlite==0.37.0
lxml==4.5.2
memory-tempfile==2.2.3
mock-msm==0.9.2
mongoengine==0.23.1
mycroft-messagebus-client==0.9.1
mypy-extensions==0.4.3
neon-audio==0.2.1a3
neon-enclosure==0.0.4a0
neon-lang-plugin-libretranslate==0.1.0
neon-mq-connector==0.1.2
neon-speech==0.2.0
neon-utils==0.7.2
netifaces==0.10.9
nltk==3.6.2
num2words==0.5.10
numba==0.54.0
numpy==1.19.5
oauth2client==4.1.3
ovos-plugin-manager==0.0.1a3
ovos-skill-installer==0.0.5
ovos-skills-manager==0.0.8
ovos-utils==0.0.11
ovos-ww-plugin-pocketsphinx==0.1.1
ovos-ww-plugin-precise==0.1.0
packaging==21.0
padaos==0.1.9
padatious==0.4.8
pako==0.3.1
pendulum==2.1.2
petact==0.1.2
pexpect==4.8.0
phoneme-guesser==0.1.0
pika==1.2.0
pkg_resources==0.0.0
pocketsphinx==0.1.0
pooch==1.5.1
precise-runner==0.2.1
proto-plus==1.19.0
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
pulsectl==21.9.1
pyalsaaudio==0.8.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
PyChromecast==3.2.2
pycparser==2.20
pydub==0.25.1
pyee==8.1.0
pymongo==3.12.0
pyparsing==2.4.7
python-dateutil==2.6.0
python-vlc==1.1.2
pytz==2021.1
pytzdata==2020.1
pyxdg==0.27
PyYAML==5.4.1
quantulum3==0.7.8
quebra-frases==0.3.7
RAKEkeywords==0.2.0
rapidfuzz==1.6.1
regex==2021.8.28
requests==2.26.0
requests-cache==0.8.0
requests-futures==1.0.0
resampy==0.2.2
RPi.GPIO==0.7.0
rsa==4.7.2
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
smbus2==0.4.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
SpeechRecognition==3.8.1
stopwordsiso==0.6.1
threadpoolctl==2.2.0
timezonefinder==5.2.0
tornado==6.0.3
tqdm==4.62.2
translate==3.6.1
typing-extensions==3.10.0.2
typing-inspect==0.7.1
Unidecode==1.3.1
uritemplate==3.0.1
url-normalize==1.4.3
urllib3==1.26.6
websocket-client==0.54.0
xxhash==2.0.2
zeroconf==0.36.2
