appdirs==1.4.3
boto3==1.17.90
botocore==1.20.111
bs4==0.0.1
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.5
charset-normalizer==2.0.3
chatterbox-wake-word-plugin-dummy==0.1
click==8.0.1
combo-lock==0.1.1post2
decorator==5.0.9
fasteners==0.16.2
geographiclib==1.50
grpcio==1.39.0
google-api-core==1.31.1
google-auth==1.34.0
google-cloud-speech==2.4.0
googleapis-common-protos==1.52.0
gtts==2.2.2
httplib2==0.19.0
idna==2.10
ifaddr==0.1.7
importlib-metadata==4.7.1
inflection==0.5.0
itsdangerous==2.0.0
jmespath==0.9.5
joblib==1.0.0
json_database==0.5.5
kthread==0.2.1
langdetect==1.0.8
libcst==0.3.19
lingua_nostra==0.4.4
llvmlite==0.36.0rc2
memory-tempfile==2.2.2
mongoengine==0.23.1
mypy-extensions==0.4.2
neon-mq-connector>=0.1.0
nltk==3.6.1
numba==0.53.0
numpy==1.20.2
oauth2client==4.1.3
ovos-skill-installer==0.0.5
ovos-skills-manager>=0.0.6
ovos-utils==0.0.10
packaging==20.9
pako==0.3.0
pooch==1.5.0
protobuf==3.17.2
proto-plus==1.18.1
pulsectl==21.5.18
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==3.12.0
pyparsing==2.4.6
pyyaml==5.4
quebra_frases==0.3.6
requests==2.25.1
requests-cache==0.6.4
rsa==4.7.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.4.1
scikit-learn==0.24.1
scipy==1.7.0
six==1.15.0
soundfile==0.10.2
soupsieve==2.2
threadpoolctl==2.1.0
typing-extensions==3.10.0.1
typing-inspect==0.7.0
uritemplate==3.0.0
url-normalize==1.4.2
urllib3==1.26.5
zeroconf==0.36.1
zipp==3.4.2