# mycroft
ovos-core[skills_lgpl]~=0.0.3,>=0.0.4a38
# utils
neon-utils[network]>=1.0.0a18,<2.0.0
ovos_utils~=0.0,>=0.0.23a6
ovos-config~=0.0,>=0.0.4a1
ovos-skills-manager~=0.0.10
ovos-plugin-manager~=0.0.16

psutil~=5.6

# default plugins
neon-lang-plugin-libretranslate~=0.1,>=0.1.2

# text parser modules
RAKEkeywords~=0.2
