# mycroft
ovos-core[skills_lgpl]~=0.0.3,>=0.0.4a34
# utils
neon-utils>=1.0.0a11,<2.0.0
# ovos_utils~=0.0.20
ovos_utils @ git+https://github.com/neondaniel/ovos_utils@FEAT_YamlConfig
ovos-config~=0.0,>=0.0.2a3
ovos-skills-manager~=0.0.10
ovos-plugin-manager~=0.0.16

psutil~=5.6

# default plugins
neon-lang-plugin-libretranslate~=0.1,>=0.1.2

# text parser modules
RAKEkeywords~=0.2
