name: Build SquashFS Image
on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - master
    paths-ignore:
      - 'neon_core/version.py'
      - 'CHANGELOG.md'

jobs:
  build_squashfs_image:
    runs-on: 2222.us
    steps:
      - name: Checkout Debos Repository
        uses: nschloe/action-cached-lfs-checkout@v1
        with:
          ref: "dev"  # TODO: ${{ github.ref }}
#          lfs: True
          repository: NeonGeckoCom/neon_debos
          path: action/neon_debos
      - name: Export keys for image build
        run: |
          mkdir -p action/neon_debos/overlays/80-google-json-overlay/home/neon/.local/share/neon
          echo ${GOOGLE_KEY}>action/neon_debos/overlays/80-google-json-overlay/home/neon/.local/share/neon/google.json
        env:
          GOOGLE_KEY: ${{secrets.google_api_key}}
      - name: Build and Export Image
        run: |
          bash action/neon_debos/run_automation.sh debian-neon-image-rpi4.yml dev /var/www/html/app/files/neon_images/pi/mycroft_mark_2 dev
          # TODO: ${{ github.ref }}