name: Build SquashFS Image
on:
  workflow_dispatch:
  push:
# TODO: Replace branches spec after validating build
#    branches:
#      - dev
#      - master
    paths-ignore:
      - 'neon_core/version.py'
      - 'CHANGELOG.md'

jobs:
  build_squashfs_image:
    runs-on: 2222.us
    steps:
      - name: Checkout Debos Repository
        uses: actions/checkout@v2
        with:
          ref: FEAT_CoreAutomation  # ${{ github.ref }}  TODO: Testing
          repository: NeonGeckoCom/neon_debos
          path: action/neon_debos
      - name: Export keys for image build
        run: |
          mkdir -p action/neon_debos/overlays/80-google-json-overlay/home/neon/.local/share/neon
          echo ${{secrets.google_api_key}}>action/neon_debos/overlays/80-google-json-overlay/home/neon/.local/share/neon/google.json
      - name: Build Image
        run: |
          bash action/neon_debos/run_automation.sh debian-neon-image-rpi4.yml dev  # ${{ github.ref }}  TODO: Testing
      - name: Move Outputs
        run: |
          mv action/neon_debos/outputs/*.img.xz /var/www/html/app/files/neon_images/pi/automation
          mv action/neon_debos/outputs/*.squashfs /var/www/html/app/files/neon_images/pi/automation