name: Build SquashFS Image
on:
  workflow_dispatch:
    inputs:
      debos_branch:
        type: string
        description: neon_debos branch to use
        default: ${{ github.ref }}
  push:
    branches:
      - dev
      - master
    paths-ignore:
      - 'neon_core/version.py'
      - 'CHANGELOG.md'

jobs:
  build_squashfs_image:
    runs-on: 2222.us
    steps:
      - name: Get debos repo branch
        id: branch
        run: |
          DEFAULT_REF=${{ github.ref }}
          REQUEST_REF=${{ github.event.inputs.debos_branch }}
          echo "::set-output name=debos::${REQUEST_REF:-${DEFAULT_REF}}"
      - name: Checkout Debos Repository
        uses: nschloe/action-cached-lfs-checkout@v1
        with:
          ref: ${{ steps.branch.outputs.debos }}
#          lfs: True
          repository: NeonGeckoCom/neon_debos
          path: action/neon_debos
#      - name: Ensure LFS files are pulled
#        run: |
#          cd action/neon_debos
#          git lfs pull
#          cd ../..
      - name: Export keys for image build
        run: |
          mkdir -p action/neon_debos/overlays/80-google-json-overlay/home/neon/.local/share/neon
          echo ${GOOGLE_KEY}>action/neon_debos/overlays/80-google-json-overlay/home/neon/.local/share/neon/google.json
        env:
          GOOGLE_KEY: ${{secrets.google_api_key}}
      - name: Build and Export Mk2 Image
        run: |
          bash action/neon_debos/run_automation.sh debian-neon-image.yml ${{ github.ref_name }} /var/www/html/app/files/neon_images/pi/mycroft_mark_2 rpi4 mark_2
      - name: Build and Export OPi5 Image
        run: |
          bash action/neon_debos/run_automation.sh debian-neon-image.yml ${{ github.ref_name }} /var/www/html/app/files/neon_images/orange_pi_5/ opi5 opi5