# This workflow will generate a distribution and upload it to PyPI

name: Publish Alpha Build
on:
  push:
    branches:
      - dev
    paths-ignore:
      - 'version.py'

jobs:
  publish_alpha_release:
    uses: neongeckocom/.github/.github/workflows/publish_alpha_release.yml@FEAT_DatedVersionBump
    secrets: inherit
    with:
      version_scheme: "dated"
      version_file: "version.py"
      setup_py: "setup.py"
      publish_pypi: false
      publish_prerelease: true
  build_and_publish_docker:
    needs: publish_alpha_release
    uses: neongeckocom/.github/.github/workflows/publish_docker.yml@master
    secrets: inherit
    with:
      image_name: ${{ github.repository_owner }}/neon_skills
      base_tag: base
      extra_tag: default_skills
