# This workflow will run unit tests

name: Test Core Modules
on:
  pull_request:
  workflow_dispatch:

jobs:
  py_build_tests:
    uses: neongeckocom/.github/.github/workflows/python_build_tests.yml@master
    with:
      python_version: "3.8"
  docker_build_tests:
    uses: neongeckocom/.github/.github/workflows/docker_build_tests.yml@master
  util_tests:
    strategy:
      matrix:
        python-version: [ 3.7, 3.8, 3.9, '3.10' ]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y gcc libfann-dev swig libssl-dev portaudio19-dev git libpulse-dev
          pip install wheel
          pip install . -r requirements/test.txt
        env:
          GITHUB_TOKEN: ${{secrets.neon_token}}

      - name: Test Util
        run: |
          pytest test/test_util.py --doctest-modules --junitxml=tests/util-test-results.xml
        env:
          GITHUB_TOKEN: ${{secrets.neon_token}}
      - name: Upload  Util test results
        uses: actions/upload-artifact@v2
        with:
          name: skill-utils-test-results
          path: tests/util-test-results.xml

  unit_tests:
    strategy:
      matrix:
        python-version: [ 3.7, 3.8, 3.9, '3.10' ]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y gcc libfann-dev swig libssl-dev portaudio19-dev git libpulse-dev
          pip install wheel
          pip install . -r requirements/test.txt
        env:
          GITHUB_TOKEN: ${{secrets.neon_token}}

      - name: Test Configuration Module
        run: |
          pytest test/test_configuration.py --doctest-modules --junitxml=tests/configuration-test-results.xml
      - name: Upload Configuration test results
        uses: actions/upload-artifact@v2
        with:
          name: configuration-test-results
          path: tests/configuration-test-results.xml

      - name: Test Language
        run: |
          pytest test/test_language.py --doctest-modules --junitxml=tests/language-test-results.xml
      - name: Upload Language test results
        uses: actions/upload-artifact@v2
        with:
          name: language-test-results
          path: tests/language-test-results.xml

      - name: Test Skills Module
        run: |
          pytest test/test_skills_module.py --doctest-modules --junitxml=tests/skills-module-test-results.xml
      - name: Upload Language test results
        uses: actions/upload-artifact@v2
        with:
          name: skills-module-test-results
          path: tests/skills-module-test-results.xml

      - name: Test Resource Resolution
        run: |
          pytest test/test_res.py --doctest-modules --junitxml=tests/resource-resolution-test-results.xml
      - name: Upload Resource Resolution test results
        uses: actions/upload-artifact@v2
        with:
          name: resource-resolution-test-results
          path: tests/resource-resolution-test-results.xml