name: Update Skills Image
on:
  workflow_dispatch:

jobs:
  build_and_publish_docker:
    uses: neongeckocom/.github/.github/workflows/publish_docker.yml@master
    secrets: inherit
    with:
      image_name: ${{ github.repository_owner }}/neon_skills-default_skills
      base_tag: default_skills